name: Testing

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  building:
    name: Build Code
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        uses: actions/checkout@v4
        
      - name: Prepare Scripts
      # Ensures scripts are executable even if git permissions are wonky
        run: chmod +x *.sh

      - name: Docker Env
        run: bash docker_iblgf.sh

      - name: build
        run: bash iblgf.sh build

      - name: test
        run: bash iblgf.sh test
        

      
  
